<div class="form-test mt-5">
  <div class="form">
    <div class="graph">
      <canvas id="myRaderChart"></canvas>
      <!-- CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
      <script>
        var ctx = document.getElementById("myRaderChart");
        var myRadarChart = new Chart(ctx, {
          type: 'radar', 
            data: { 
              labels: ["心情・思いやり", "思考・論理", "信念・価値観", "内省・想像", "反応・ユーモア", "行動・魅力"],
                datasets: [ {
                  label: '<%= current_user.family_name %>さん',
                    data: [<%= @total["hamo"] %>, <%= @total["thinker"] %>, <%= @total["pasi"] %>, <%= @total["ima"] %>, <%= @total["revel"] %>, <%= @total["pro"] %>],
                    backgroundColor: '#136FFF',
                    borderColor: 'RGBA(115,255,25, 1)',
                    borderWidth: 1,
                    pointBackgroundColor: 'RGBA(115,255,25, 1)'
                }]
            },
            options: {
              scale:{
                ticks:{
                  suggestedMin: 0,
                        suggestedMax: 50,
                        stepSize: 10,
                    }
                }
            }
        });
        </script>
    </div>
  </div>
</div>


<div class="answer mt-5">
  <div class="container">
    <div class="row">
      <% @total = @total.sort_by { |_, v| -v }.to_h %>
        <div class="col text-center ">
          <% @total_strong = @total.keys[0] %>
            <% if @total_strong == "thinker" %>
              <%= link_to 'あなたが最も強く持っているパーソナリティーは"思考・論理"です', thinker_user_question_answers_path, class: "link border rounded-pill p-3 text-decoration-none text-white" %>
            <% elsif @total_strong == "pasi" %>
              <%= link_to 'あなたが最も強く持っているパーソナリティーは"意見・価値観"です', pasi_user_question_answers_path, class: "link border rounded-pill p-3 text-decoration-none text-white" %>
            <% elsif @total_strong == "hamo" %>
              <%= link_to 'あなたが最も強く持っているパーソナリティーは"心情・思いやり"です', hamo_user_question_answers_path, class: "link border rounded-pill p-3 text-decoration-none text-white" %>
            <% elsif @total_strong == "ima" %>
              <%= link_to 'あなたが最も強く持っているパーソナリティーは"内省・想像"です', ima_user_question_answers_path, class: "link border rounded-pill p-3 text-decoration-none text-white" %>
            <% elsif @total_strong == "revel" %>
              <%= link_to 'あなたが最も強く持っているパーソナリティーは"反応・ユーモア"です', revel_user_question_answers_path, class: "link border rounded-pill p-3 text-decoration-none text-white" %>
            <% else @total_strong == "pro" %>
              <%= link_to 'あなたが最も強く持っているパーソナリティーは"行動・魅力"です', pro_user_question_answers_path, class: "link border rounded-pill p-3 text-decoration-none text-white" %>
          <% end %>
        </div>

        <div class="col text-center ">
          <% @total_weak = @total.keys[1] %>
            <% if @total_weak == "thinker" %>
              <%= link_to 'あなたが次に強く持っているパーソナリティーは"思考・論理"です', thinker_user_question_answers_path, class: "link border rounded-pill p-3 text-decoration-none text-white" %>
            <% elsif @total_weak == "pasi" %>
              <%= link_to 'あなたが次に強く持っているパーソナリティーは"意見・価値観"です', pasi_user_question_answers_path, class: "link border rounded-pill p-3 text-decoration-none text-white" %>
            <% elsif @total_weak == "hamo" %>
              <%= link_to 'あなたが次に強く持っているパーソナリティーは"心情・思いやり"です', hamo_user_question_answers_path, class: "link border rounded-pill p-3 text-decoration-none text-white" %>
            <% elsif @total_weak == "ima" %>
              <%= link_to 'あなたが次に強く持っているパーソナリティーは"内省・想像"です', ima_user_question_answers_path, class: "link border rounded-pill p-3 text-decoration-none text-white" %>
            <% elsif @total_weak == "revel" %>
              <%= link_to 'あなたが次に強く持っているパーソナリティーは"反応・ユーモア"です', revel_user_question_answers_path, class: "link border rounded-pill p-3 text-decoration-none text-white" %>
            <% else @total_weak == "pro" %>
              <%= link_to 'あなたが次に強く持っているパーソナリティーは"行動・魅力"です', pro_user_question_answers_path, class: "link border rounded-pill p-3 text-decoration-none text-white" %>
          <% end %>
        </div>
    </div>
  </div>
</div>
