<div class="personality_base">
  <h1 class="user_appname fs-1" >Work,LiveShift</h1>
  <h1 class="user_title mb-5 fs-6" >〜 パーソナリティ 〜</h1>
  <div class="hamo_name fw-lighte fs-3 mb-3">心情・思いやり</div>

  <div class="personality_descriptions">
    <div class="description_title text-secondary fs-4 my-4">◎性格の特徴</div>
    <div class="description_option hamo_option ps-5 my-4">
      “人間関係を大切にし、人の気持ちを優先します”<br>
      人の気持ちに敏感で、思いやりがあって、感受性が豊かな温かい心遣いができる人です。<br>
      自分のことよりも相手を優先し「与える」「はぐくむ」能力に長けており、包容力があります。<br>
      人間関係を重んじ、家族や友情、人の輪を大切にし、調和を作り出すことを得意とします。<br>
      あなたにとって重要なことは、自分も周りの人も心が安らぎ、居心地が良いと感じられることです。<br>
      他者の「喜び」「悲しみ」も自分ごとのように感じれる共感力を持っているため、<br>
      人の気持ちを非常に大切にする人です。<br>
    </div>

             <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎行動基準</div>
    <div class="description_option hamo_option ps-5 my-4">
        ”あなたが幸せに感じられるのは周りの人との良い人間関係が築けているときです”<br>
        人間関係第一のあなたにとって幸せとは、愛する家族や恋人、友人、<br>
        職場の仲間と思いやりを持ちながら良い人間関係を築けているときに幸せに感じる事が多いです。<br>
        逆に、大切な方との関係がうまくいっていない状況だと、<br>
        どれだけ仕事で成功を収めていたとしても、寂しさや不安を抱き続け、気持ちが沈んでしまいます。<br>
        自分を無条件で受け入れてくれる存在、環境に身を置くことが幸せに生きることにつながります。<br>
    </div>

               <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎仕事選びでのポイント</div>
    <div class="description_option hamo_option ps-5 my-4">
        人間関係第一のあなたにとって職場は第二の家族なような物です。<br>
        メンバーのみんなが仲良く働けている職場では自分の力を発揮しやすいでしょう。<br>
        逆に、どれだけ仕事にやりがいを感じていたり、給料が良かったとしても、<br>
        誰かが揉めていたり、険悪な雰囲気の中ではストレスを感じてしまうことが多くなってきます。<br>
        自分自身にとっても居心地が良いと感じられる場所を選ぶことが重要です。<br>
        仕事以外でも家族や友人、恋人との時間を大切にする必要があるため<br>
        プライベートが充実できる環境が良いでしょう。<br>
        <br>
        また、”人に喜んでもらいたい”,”困っている人を助けたい”という純粋な気持ちが<br>
        仕事への動機となることも多いので、そのような想いを持って働ける仕事、職場では<br>
        モチベーション高く仕事に取り組めるでしょう。<br>
    </div>

                <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎向いてる職業</div>
    <div class="description_option hamo_option ps-5 my-4">
        人を育む・人に喜んでもらう・人を助けてあげたいという仕事は向いています。<br>
        例）接客業／受付／看護師／介護士／販売／サービス業全般／保育士／学校の先生 etc...<br>
    </div>

  </div>
</div>

<div class="container footer border-top">
      <div class="ps-5 fs-3">他のパーソナリティについても見る</div>
      <div class="mt-5">
          <div class="d-flex justify-content-around ">
            <%= link_to '思考・論理', thinker_user_question_answers_path, class: "thinker_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '意見・価値観', pasi_user_question_answers_path, class: "pasi_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '心情・思いやり', hamo_user_question_answers_path, class: "hamo_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '内省・想像', ima_user_question_answers_path, class: "ima_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '反応・ユーモア', revel_user_question_answers_path, class: "revel_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '行動・魅力', pro_user_question_answers_path, class: "pro_tag border rounded-pill p-3 text-decoration-none text-dark" %>
          </div>
      </div>
</div>