<div class="personality_base">
  <h1 class="user_appname fs-1" >Work,LiveShift</h1>
  <h1 class="user_title mb-5 fs-6" >〜 パーソナリティ 〜</h1>
  <div class="ima_name fw-lighte fs-3 mb-3">内省・想像</div>

  <div class="personality_descriptions">
    <div class="description_title text-secondary fs-4 my-4">◎性格の特徴</div>
    <div class="description_option ps-5 my-4">
      あなたは何よりも想像力に秀でており、物事を思慮深く見つめ、振り返って思いを巡らせる能力に優れています。<br>
      豊かな想像力を活用し、”もう一人の自分”という視点で客観的に物事を見ることや<br>
      過去に起こった出来事が、今まさに目の前で起こっているかのようにありありと想像できるため<br>
      他の人が見落としてしまうような出来事も冷静に指摘する事ができます。<br>
      口数が少なく、比較的物静かな方が多いですが、<br>
      それは自分自身の内面が非常に豊かであるため外に対して発する言葉を必要としないためです。<br>
    </div>

             <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎行動基準</div>
    <div class="description_option ps-5 my-4">
        豊かな想像力を持ち、内省的なあなたにとって幸せとは平穏で変化の少ない安定した人生です。<br>
        誰にも邪魔されない時間と空間をしっかりと確保することが重要であり、<br>
        どれだけ親しい人と居たとしても、自分だけの一人の時間がないとストレスに感じてしまいます。<br>
        また、心が平穏でいられる状態が、自分の心が満たされている状態であり<br>
        今現在、自分が何をやらなければいけないのか？が曖昧な状況ではストレスを感じやすいです。<br>
        そのため、職場や周りの人からの明確な指示を受けることを望み、<br>
        やらないといけないと事が明確な状況では自分自身の力を発揮しやすいです。<br>
    </div>

               <hr align="center" >


    <div class="description_title text-secondary fs-4 my-4">◎仕事選びでのポイント</div>
    <div class="description_option ps-5 my-4">
        自発的に行動をすることよりも、明確な指示を受けた方が仕事がしやすいです。<br>
        明確な指示があれば、他の人が苦痛に思うような単調な作業も苦ではありません。<br>
        また、手先が器用な方も多く、細かさが要求される仕事に対しても黙々と作業を続ける事ができます。<br>
        時間に焦らされたり、他の人に干渉される事が少ないような、<br>
        自分のペースで仕事をこなすことで能率や生産性が向上します。<br>
    </div>

                <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎向いてる職業</div>
    <div class="description_option ps-5 my-4">
        豊かな想像力を活かし、豊かな世界観を表現する仕事や<br>
        業務内容に対して明確に指示があり、自分の時間や空間が確保されている仕事が向いています。<br>
        例）作家／漫画家／映画監督／俳優／詩人／画家／プログラマー／エンジニア etc...<br>
    </div>

  </div>
</div>

<div class="container footer border-top">
      <div class="ps-5 fs-3">他のパーソナリティについても見る</div>
      <div class="mt-5">
          <div class="d-flex justify-content-around ">
            <%= link_to '思考・論理', thinker_user_question_answers_path, class: "thinker_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '意見・価値観', pasi_user_question_answers_path, class: "pasi_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '心情・思いやり', hamo_user_question_answers_path, class: "hamo_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '内省・想像', ima_user_question_answers_path, class: "ima_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '反応・ユーモア', revel_user_question_answers_path, class: "revel_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '行動・魅力', pro_user_question_answers_path, class: "pro_tag border rounded-pill p-3 text-decoration-none text-dark" %>
          </div>
      </div>
</div>