<div class="personality_base">
  <h1 class="user_appname fs-1" >Work,LiveShift</h1>
  <h1 class="user_title mb-5 fs-6" >〜 パーソナリティ 〜</h1>
  <div class="pasi_name fw-lighte fs-3 mb-3">意見・価値観</div>

  <div class="personality_descriptions">
    <div class="description_title text-secondary fs-4 my-4">◎性格の特徴</div>
    <div class="description_option pasi_option ps-5 my-4">
      あなたは自分の中の価値基準に沿って行動し、一度自分で決めたことは簡単には放り投げない強さを持っています。<br>
      自分自身の信念に沿って行う行動が、仮に損をしてしまう結果であっても使命感を持って献身的に取り組みます。<br>
      物事に対しては信頼や信用を重んじているため、筋を通し、礼儀を重んじ、精神性を重要視しています。<br>
      このような志が周囲からも誠実な態度として評価されることも多いと思います。<br>
      また、自分の意見、信念、価値観、主義主張を人に伝える能力が高く、<br>
      物事の本質を見抜き判断や評価を下す能力にも長けています。<br>
      他にも、「自分自身を成長させていこう」という自己研鑽欲求が高く、ストイックな面も持っています。<br>
    </div>

             <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎行動基準</div>
    <div class="description_option pasi_option ps-5 my-4">
あなたにとっての幸せは、<br>
あなたにとって価値があると信じているものにとことん打ち込み、それに生涯を捧げることです。<br>
私利私欲をよりも”世のため人のため”になるような、自分の信念に沿って生きる。<br>
そのことで人から尊敬の念を持ってもらえることで幸せに感じます。<br>
また、自分の仕事や活動に誇りとプライドを持ち、納得のいくまで辛抱強く取り組み、<br>
その道を極めることを目指します。<br>
このように何事にも妥協しない、一生懸命取り組んでいる姿を自分自身や周りの人に評価してもらえると、<br>
「努力した甲斐があった」と心が満たされることがあると思います。<br>
自分自身の努力も重要ですが、他者の努力している姿にも影響を受けることがあり、<br>
テレビ番組ではドキュメンタリー番組を好む方も多いです。<br>
    </div>

               <hr align="center" >


    <div class="description_title text-secondary fs-4 my-4">◎仕事選びでのポイント</div>
    <div class="description_option pasi_option ps-5 my-4">
      損得や私利私欲よりも、自分自身の信念、社会貢献など世のため人のためになる仕事が適任です。<br>
      一度決めたことを簡単に投げ出さない性格から、粘り強さや献身的に打ち込むことが求められる仕事や、<br>
      自分の想いや意見を述べる能力から、人の上に立ってビジョンや理念を示し陣頭指揮を取るポジションで<br>
      働くことで自分自身の力を発揮しやすいです。<br>
      また、妥協は敵、安易な方向に流れることがなく、本質を見抜く目を持っていることから、<br>
      社内の議論などの本質的な問題を突き止めたりする業務も向いています。<br>
    </div>

                <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎向いてる職業</div>
    <div class="description_option pasi_option ps-5 my-4">
      その仕事に就くことで社会貢献を意識できる仕事や、粘り強い努力が求められる仕事が向いています。<br>
      例）警察官／消防士／自衛官／医師／職人／教師／政治家／ジャーナリスト／記者／弁護士 etc...<br>
    </div>

  </div>
</div>

<div class="container footer border-top">
      <div class="ps-5 fs-3">他のパーソナリティについても見る</div>
      <div class="mt-5">
          <div class="d-flex justify-content-around ">
            <%= link_to '思考・論理', thinker_user_question_answers_path, class: "thinker_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '意見・価値観', pasi_user_question_answers_path, class: "pasi_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '心情・思いやり', hamo_user_question_answers_path, class: "hamo_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '内省・想像', ima_user_question_answers_path, class: "ima_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '反応・ユーモア', revel_user_question_answers_path, class: "revel_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '行動・魅力', pro_user_question_answers_path, class: "pro_tag border rounded-pill p-3 text-decoration-none text-dark" %>
          </div>
      </div>
</div>