<div class="personality_base">
  <h1 class="user_appname fs-1" >Work,LiveShift</h1>
  <h1 class="user_title mb-5 fs-6" >〜 パーソナリティ 〜</h1>
  <div class="pro_name fw-lighte fs-3 mb-3">行動・魅力</div>

  <div class="personality_descriptions">
    <div class="description_title text-secondary fs-4 my-4">◎性格の特徴</div>
    <div class="description_option pro_option ps-5 my-4">
        物事を前進させる能力に秀で、他人を説得し行動させる力と<br>
        周りをどんどん引っ張ってリードしていく牽引力に優れています。<br>
        また、人を惹きつける魅力を持っており、男性も女性もすごく魅力的に見られる事が多いです。<br>
        普通の人では臆してしまうような逆境に強く、<br>
        競争心やチャレンジ精神を掻き立てられると燃えてくる方も多いです。<br>
        どのような状況にも順応し、魅力と行動力で周りを巻き込む強さを持っています。<br>
    </div>

             <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎行動基準</div>
    <div class="description_option pro_option ps-5 my-4">
        「幸せは自ら掴み取るもの。待っていても向こうからは来ない」というのがあなたの考え。<br>
        ”今がチャンス”と思ったら機を逃さず即行動。<br>
        リスクを恐れず、エネルギッシュに突き進んでいきます。<br>
        安定した人生よりもジェットコースターのような変化の多い人生を好み、<br>
        普通の人生では達成できないような大成功を求める方も多いです。<br>
        また、ターゲットやハードルが大きいほど、エネルギーが沸き力を発揮します。<br>
    </div>

               <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎仕事選びでのポイント</div>
    <div class="description_option pro_option ps-5 my-4">
        仕事は、取引上手で立ち回りがうまい営業、セールスに向いています。<br>
        決められたノルマをコツコツと計画を立てて地道にこなすよりも、<br>
        ”今がチャンス！”という時に、即行動を起こし大きな成果を得る事が多く、<br>
        成果に対してインセンティブなど報酬がすぐに手に入ることで達成感を感じる方が多いです。<br>
        <br>
        また、ほうぼうに飛び回って大きなプロジェクトを展開したり、<br>
        人生を左右するような新規事業の立ち上げを繰り消したりと、<br>
        一度成功を手にしても、現状に満足することなく動き続けることがあなたのエネルギーになってきます。<br>
    </div>

                <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎向いてる職業</div>
    <div class="description_option pro_option ps-5 my-4">
        普通の人では臆してしまうような仕事や、インセンティブの大きい仕事。<br>
        また、人からの注目が集まるような仕事は向いています。<br>
        例）セールス／モデル／起業家／不動産 etc...<br>
    </div>

  </div>
</div>

<div class="container footer border-top">
      <div class="ps-5 fs-3">他のパーソナリティについても見る</div>
      <div class="mt-5">
          <div class="d-flex justify-content-around ">
            <%= link_to '思考・論理', thinker_user_question_answers_path, class: "thinker_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '意見・価値観', pasi_user_question_answers_path, class: "pasi_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '心情・思いやり', hamo_user_question_answers_path, class: "hamo_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '内省・想像', ima_user_question_answers_path, class: "ima_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '反応・ユーモア', revel_user_question_answers_path, class: "revel_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '行動・魅力', pro_user_question_answers_path, class: "pro_tag border rounded-pill p-3 text-decoration-none text-dark" %>
          </div>
      </div>
</div>