<div class="personality_base">
  <h1 class="user_appname fs-1" >Work,LiveShift</h1>
  <h1 class="user_title mb-5 fs-6" >〜 パーソナリティ 〜</h1>
  <div class="revel_name fw-lighte fs-3 mb-3">反応・ユーモア</div>

  <div class="personality_descriptions">
    <div class="description_title text-secondary fs-4 my-4">◎性格の特徴</div>
    <div class="description_option revel_option ps-5 my-4">
        あなたは天真爛漫な子供のようなピュアな心を持っています。<br>
        なにか行動を起こすときは、自分がしたい、楽しそうだからするのであって<br>
        誰かのためや、頭で考えた計画だからという理由ではありません。<br>
        ひらめき直感に優れ、既成概念、常識、習慣に囚われることなく<br>
        誰も思い付かないようなアイデアや発想を生み出す創造力に富んでいます。<br>
    </div>

             <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎行動基準</div>
    <div class="description_option revel_option ps-5 my-4">
        天真爛漫なあなたにとって何よりも大事なことは、”楽しい”かどうかです。<br>
        人生のスローガンは”楽しくてこそ人生！”と言えるぐらい、あなたの人生には楽しいことは重要です<br>
        現在の活動や、仕事、遊びなど全ての物事において<br>
        ”楽しい！”と思えているときは、エネルギッシュでパワフルに自分の力を発揮できます。<br>
        逆に、現在の活動が「楽しくない」「つまらない」「めんどくさい」となってしまうと<br>
        モチベーションが下がってきてしまうので、いかに”楽しむか！”をが人生の成功につながります。<br>
    </div>

               <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎仕事選びでのポイント</div>
    <div class="description_option revel_option ps-5 my-4">
          仕事選びで最も重要なことは自分な好きなことや、仕事が楽しいと思えるかどうかです。<br>
          きちっとした時間に決まった場所で決まった業務をこなす。<br>
          また、会社の規則やルールが多く自由があまり許されない環境だと自分の力が発揮しにくいでしょう。<br>
          それよりもフリーランスやフレックスタイム制が導入されていたり、<br>
          なんらかの遊びが許されている（音楽を聴きながら仕事をしても良いなど）環境では仕事を楽しみやすくなってきます。<br>
          また、何かを創作したり、デザインしたりなど、全く新しいものを生み出す創造力が<br>
          求められる職場だと自分自身の強みを発揮できます。<br>
    </div>

                <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎向いてる職業</div>
    <div class="description_option revel_option ps-5 my-4">
          ひらめき・創造性・発想力が求められる職業が向いています<br>
          例）デザイナー／カメラマン／コピーライター／お笑いタレント／漫画家／クリエイター etc...<br>
    </div>

  </div>
</div>

<div class="container footer border-top">
      <div class="ps-5 fs-3">他のパーソナリティについても見る</div>
      <div class="mt-5">
          <div class="d-flex justify-content-around ">
            <%= link_to '思考・論理', thinker_user_question_answers_path, class: "thinker_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '意見・価値観', pasi_user_question_answers_path, class: "pasi_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '心情・思いやり', hamo_user_question_answers_path, class: "hamo_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '内省・想像', ima_user_question_answers_path, class: "ima_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '反応・ユーモア', revel_user_question_answers_path, class: "revel_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '行動・魅力', pro_user_question_answers_path, class: "pro_tag border rounded-pill p-3 text-decoration-none text-dark" %>
          </div>
      </div>
</div>