  <div class="form-question">
    <div class="form-question_inbase">

      <!-- タイトル -->
      <h1 class="fst-italic text-center mb-5"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 18 18">
        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
      </svg>パーソナリティ診断</h1>


        <% @questions.each do |question| %>

            <div class="question text-center">
              <h1 class="question-text fs-5 my-5"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 18 18">
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg><%= question.message %></h1>

              <div class="form-check question-answer mb-5">
                  そう思う
                    <div class="form-checkbox">
                      <div class="form-check form-check-inline ">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions<%= question.id%>" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1"></label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions<%= question.id%>" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1"></label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions<%= question.id%>" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1"></label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions<%= question.id%>" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1"></label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions<%= question.id%>" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1"></label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions<%= question.id%>" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1"></label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions<%= question.id%>" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1"></label>
                      </div>
                    </div>
                  そう思わない
              </div>
            </div>

          <hr align="center" >

        <% end %>

        <!-- ボタン -->
        <button type="submit" class="btn btn-primary float-end mb-5">次へ</button>


    </div>
  </div>