<div class="personality_base">
  <h1 class="user_appname fs-1" >Work,LiveShift</h1>
  <h1 class="user_title mb-5 fs-6" >〜 パーソナリティ 〜</h1>
  <div class="thinker_name fw-lighte fs-3 mb-3">思考・論理</div>

  <div class="personality_descriptions">
    <div class="description_title text-secondary fs-4 my-4">◎性格の特徴</div>
    <div class="description_option thinker_option ps-5 my-4">
     情報の収集や分類が得意で、その情報に基づいて常に論理的に思考、分析していく能力に長けています。<br>
     個人的な意見や感想よりも事実を重んじ、物事や情報を分析的、総合的、具体的に洞察する能力にも長けています。<br>
     また、客観的な視点で物事を捉え、冷静に現状を把握することができる力も持っています。<br>
     数字を正しく扱うことや、計画の立案や管理など、正確さが要求されることを得意とし、<br>
     常に責任感を持っている方も多いです。<br>
     また、限られた時間の中で高いパフォーマンスを発揮させることに関心が高く、無駄なコストや無駄な時間を避け、<br>
     常に「どうすれば効率が良いか？」「小さなコストで高い成果を上げれる方法」を考えている方もいます。<br>
    </div>

             <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎行動基準</div>
    <div class="description_option thinker_option ps-5 my-4">
      あなたにとって幸福感を感じるときは自分自身の能力の高さ（頭の回転の速さなど）が<br>
      自他ともに認められたときです。<br>
      例えば①物事の達成や②ライフプランの遂行などのタイミングで、自分の能力の高さを認める事ができます。<br>
      ①の物事の達成とは、仕事や日々の活動の中で、自分に与えられた課題や目標を設定し、<br>
      それに向かって計画を立て効率的に取り組み、課題のクリアや目標の達成をすること。<br>
      課題や目標を達成したことで自分の能力の高さが証明され、<br>
      それに見合った正当な報酬を得たり、役割を任されることです。<br>
      ②のライフプランとは、自分の人生をいくつか区切り、<br>
      何歳までにXXを達成という目標を定めステップアップをすることです。<br>
      他にも、自分が立てた1日のスケジュールなどが滞りなく進むことでも達成感を得る事ができます。<br>
    </div>

               <hr align="center" >


    <div class="description_title text-secondary fs-4 my-4">◎仕事選びでのポイント</div>
    <div class="description_option thinker_option ps-5 my-4">
        会社選びでは与えられた課題や、目標を効率よく計画的にこなすことができる仕事場や<br>
        評価制度が明確に定義されている仕事場では自分自身の能力を発揮しやすいです。<br>
        また、意識しなくとも、先々の予定を組み立て、それに沿って計画を遂行するため、<br>
        方向性や方針がコロコロと変わってしまう職場では、立てた計画が一から崩れてしまうこともあります。<br>
        そのような状況や環境ではストレスを感じてしまう可能性が高くなるため<br>
        年間スケジュールや、目標などが明確な仕事場で働く事がおすすめです。<br>
    </div>

                <hr align="center" >

    <div class="description_title text-secondary fs-4 my-4">◎向いてる職業</div>
    <div class="description_option thinker_option ps-5 my-4">
      目標を最短距離で達成するために必要な情報を収集、論理的に分析、<br>
      無駄を省いて効率よく仕事を遂行することが求められる仕事が向いています<br>
      例）会計士／弁護士／税理士／銀行員／秘書 etc...<br>
    </div>

  </div>
</div>

<div class="container footer border-top">
      <div class="ps-5 fs-3">他のパーソナリティについても見る</div>
      <div class="mt-5">
          <div class="d-flex justify-content-around ">
            <%= link_to '思考・論理', thinker_user_question_answers_path, class: "thinker_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '意見・価値観', pasi_user_question_answers_path, class: "pasi_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '心情・思いやり', hamo_user_question_answers_path, class: "hamo_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '内省・想像', ima_user_question_answers_path, class: "ima_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '反応・ユーモア', revel_user_question_answers_path, class: "revel_tag border rounded-pill p-3 text-decoration-none text-dark" %>
            <%= link_to '行動・魅力', pro_user_question_answers_path, class: "pro_tag border rounded-pill p-3 text-decoration-none text-dark" %>
          </div>
      </div>
</div>

<%# 戻るボタン %>
<div class="d-flex justify-content-center">
  <button class="user_btn border border-white rounded-pill bg-gradient ">  
    <%= link_to 'ユーザー画面に戻る', user_path(current_user.id), class: "text-decoration-none text-white" %>
  </button>
</div>