<%= link_to(company_path(company.id), class: "text-decoration-none")  do %>
  <%# 会社一覧の一つの会社のビュー %>
  <div class="card my-5 shadow-lg bg-white rounded">
    <div class="card mouse_white">
      <%= image_tag 'column-case015-01.png', class: 'card-img-top bg-dark' %>
      <div class="card-img-overlay">
        <% if company.already_favorited?(current_user) %>
          <%# ここに文字列やアイコンを書くと画像に表示される%>
          <div style="width: 100%;" class="text-end">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bookmark-fill text-danger" viewBox="0 0 16 16">
            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
            </svg>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-body">
        <h5 class="card-title my-3 border-bottom"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-building text-dark" viewBox="0 0 23 23">
          <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
          <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
          </svg><span class="office-name text-dark"><%= company.my_company_name %></span>
        </h5>
          <p class="company_content line_break card-text px-3 my-4"><%= company.company_content %></p>

          <span class="genre">所在地 : <%= company.prefecture.name %></span>
          <span class="genre">
          設立 : <%= "#{company.founding_date.year}年" %>
          </span>
    </div>
  </div>
<% end %>