  <% if user_signed_in? %>
    <%= render "shared/header_signin"%>
  <% elsif supplier_signed_in? %>
    <%= render "shared/header_supplier_signin"%>
  <% else %>
    <%= render "shared/header"%>
  <% end %>


<%# 画像のスライド %>
    <div class="slider_top mt-3 mb-5">
      <% @company_images.limit(3).each do |company_image| %>
        <div>
          <%= link_to(company_path(company_image.id), class: "text-decoration-none") do %>
            <%= image_tag company_image.supplier.company_image, :size =>'900x400'%>
            <p class="fs-2 text-center mt-2 text-dark"><%= company_image.supplier.company_name %></p>
          <% end %>
        </div>
      <% end %>
    </div>
<%# 画像のスライドショー %>

<%# 検索ページ %>
  <div class="container company_list">
    <div class="row">
        <%# 検索ページ %>
        <div class="col-3">
        <%= render "shared/search"%>
        </div>

        <%# 会社一覧 %>
        <div class="col-8 ms-5">
          <h4 style="text-align: center;">おすすめ企業一覧</h4>
          <%= render partial: 'company', collection: @companies %>
          <%= paginate @companies %>
        </div>
    </div>
  </div>

  <%= render "shared/footer"%>
