<%= render "shared/header_signin"%>


<div class="company_show">


    <%# 画像のスライドショー部分 %>
    <div id="carouselExampleFade" class="carousel slide carousel-fade shadow-lg mb-5 bg-white rounded" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag 'column-case015-01.png', class: 'd-block w-100 rounded-3' , :size =>'700x500'%>
        </div>
        <div class="carousel-item">
          <%= image_tag 'cool.jpeg', class: 'd-block w-100 rounded-3' , :size =>'700x500'%>
        </div>
        <div class="carousel-item">
          <%= image_tag 'test.png', class: 'd-block w-100 rounded-3' , :size =>'700x500'%>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>

     <%# 企業名 %>
    <h1 class="p-5 fw-bolder">
      <%= @company.my_company_name %>
    </h1>

     <%# 情報部分 %>
    <div class="container" >
      <div class="row d-flex justify-content-center mt-5">
         
        <div class="col-9">
          <div>
            <h2 class="mb-5 text-secondary">何をやるのか</h2>
              <p class="line_break sentence_interval"><%= @company.company_content %></p>
              <hr align="center" class="my-5">
            <h2 class="my-5 text-secondary">なぜやるのか</h2>
              <p class="line_break sentence_interval"><%= @company.company_purpose %></p>
              <hr align="center" class="my-5">
            <h2 class="my-5 text-secondary">どうやっているのか</h2>
              <p class="line_break sentence_interval"><%= @company.company_environment %></p>
          </div>
        </div>

        <div class="col-3 bg-primary">
          2 of 2
        </div>
      </div>
    </div>





</div>


<%= render "shared/footer"%>
