<div class="form-user ">
  <div class="row g-3">
  <h1 class="appname" >Work,LiveShift</h1>
  <h1 class="user_title" >〜 新規登録 〜</h1>

  <%= form_with model: @supplier , url: supplier_registration_path, class: 'registration-main', local: true do |f| %>
 
        <label class="form-image">
          <span class="image-file">                
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" fill="currentColor" class="bi bi-camera border border-primary rounded-circle p-3" viewBox="-1 0 18 18">
            <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
            <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
            </svg>
          </span>
          <span class="image-file ms-3">                
            企業のアイコン画像を保存する
          </span>
          <%= f.file_field :company_image, class: 'hidden' %>
        </label>

        <div class="col-12 mt-3">
          <div class="form-floating mb-3">
            <div class="form-floating mb-3">
              <%= f.text_field :company_name, class:"form-control border border-primary rounded-pill" , id:"floatingInput" , placeholder:"name@example.com", autofocus: true %>
              <%# <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> %>
              <label for="floatingInput">企業名</label>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-floating mb-3">
            <div class="form-floating mb-3">
              <%= f.email_field :email, class:"form-control border border-primary rounded-pill" , id:"floatingInput" , placeholder:"name@example.com", autofocus: true %>
              <%# <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> %>
              <label for="floatingInput">代表メールアドレス</label>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-floating mb-3">
            <div class="form-floating">
              <%= f.password_field :password, class:"form-control border border-primary rounded-pill" , id:"floatingPassword" , placeholder:"Password" %>
              <%# <input type="password" class="form-control" id="floatingPassword" placeholder="Password"> %>
              <label for="floatingPassword">パスワード</label>
            </div>
          </div>
        </div>

        
        <div class="col-12 ">
          <%= f.submit "情報を登録して性格診断へ進む" ,class:"btn btn-primary float-end mb-5" %>
        </div>
<% end %>